
<swal
    #deleteSwal
    title="¿Estas seguro que desea eliminar?"
    text="los datos no se recuperaran"
    type="warning"
    [showCancelButton]="true"
    [focusCancel]="true">
</swal>



<swal
    #alertSwal
    title=""
    text=""
    type="success">
</swal>

<div style="width: 100vw;">
  <div class="row m-0">
    <div class="col-md-8 mb-3 text-right offset-md-2">
      <button class="btn btn-primary btn2" (click)="openModal(content, newMunicipioForm)" data-toggle="modal"
              data-target="#modalUser">
        Agregar
      </button>
    </div>

    <div class="col-md-6  offset-md-3" *ngFor="let municipio of municipios">
      <div class="card mt-4">
        <h3 class="card-header bg-light ">Municipio: {{municipio.data.municipio }}</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-12">
                  <b>Clave: </b>{{municipio.data.clave}}
                </div>
                <div class="col-md-12">
                  <b>Significado: </b>{{municipio.data.significado}}
                </div>
                <div class="col-md-12">
                  <b>Cabecera: </b>{{municipio.data.cabecera}}
                </div>
                <div class="col-md-12">
                  <b>Superficie: </b>{{municipio.data.superficie}}
                </div>
                <div class="col-md-12">
                  <b>Altitud: </b>{{municipio.data.altitud}}
                </div>
                <div class="col-md-12">
                  <b>Clima: </b>{{municipio.data.clima}}
                </div>
                <div class="col-md-12">
                  <b>Latitud: </b>{{municipio.data.latitud}}
                </div>
                <div class="col-md-12">
                  <b>Longitud: </b>{{municipio.data.longitud}}
                </div>
                <div class="col-md-12">
                  <b>Zonas: </b>{{municipio.data.zonas}}
                </div>

              </div>
            </div>

            <div class="col-md-3">
              <button class="btn btn-block btn-primary btn1"
                      (click)="openModal(content, newMunicipioForm,municipio)"
              >Editar
              </button>
            </div>
            <div class="col-md-3">
              <button class="btn btn-block btn-danger btn2"
                      [swal]="deleteSwal"
                      (confirm)="delete(municipio)">
                Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content>


<div class="col-md-10">
      <h1>Municipios</h1>

      <form (ngSubmit)="upsert(newMunicipioForm.value)" [formGroup]="newMunicipioForm">

        <input type="hidden" formControlName="id">
<br/>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Clave IGECEM" type="text" formControlName="clave" id="clave">
        </mat-form-field>
<br/>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Municipio" formControlName="municipio" id="municipio">
        </mat-form-field>

        <br/>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Significado" formControlName="significado" id="significado">
        </mat-form-field>
<br/>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Cabecera" formControlName="cabecera" id="cabecera">
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Superficie" formControlName="superficie" id="superficie">
        </mat-form-field>
        <br/>

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Altitud" formControlName="altitud" id="altitud">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Clima</mat-label>
          <mat-select formControlName="clima" id="clima">
              <mat-option value="Cálido">Cálido</mat-option>
              <mat-option value="Semiárido">Semiárido</mat-option>
              <mat-option value="Seco">Seco</mat-option>
              <mat-option value="Templado">Templado</mat-option>
              <mat-option value="Semifrio">Semifrio</mat-option>
              <mat-option value="Frio">Frio</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>

        <mat-form-field>
          <mat-label>Zonas</mat-label>
          <mat-select formControlName="zonas" id="zonas" multiple>
           <!-- inundación, deslave, zona sísmica, incendio forestal, zona volcánica, derrumbes)-->
            <mat-option value="Inundación">Inundación</mat-option>
            <mat-option value="Deslave">Deslave</mat-option>
            <mat-option value="Zona sísmica">Zona sísmica</mat-option>
            <mat-option value="Incendio forestal">Incendio forestal</mat-option>
            <mat-option value="Zona volcánica">Zona volcánica</mat-option>
            <mat-option value="Derrumbes">Derrumbes</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>


        <div class="form-group">
          <label>Enter address</label>
          <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
        </div>

        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
          <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                      (dragEnd)="markerDragEnd($event)"></agm-marker>
        </agm-map>

        <h5>Address: {{address}}</h5>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>


        <br/>
        <div class="form-group">
        <input type="button" class="btn btn-danger" value="Cancelar">
        <button type="submit" class="btn btn-primary" [disabled]="!newMunicipioForm.valid">
          Agregar
        </button>
        </div>
      </form>

    </div>

</ng-template>
